
@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>
<p><br /></p>
<div>
    <a asp-action="Register">Register</a>
</div>
<div>
    <a asp-action="Login">Login</a>
</div>
<div>
    <a asp-action="Logout">Logout</a>
</div>
<div>
    <a asp-action="GenerateRoles">Generate Roles</a>
</div>
<div>
    <a asp-action="GenerateUsers">Generate Users</a>
</div>
<div>
    <a asp-controller="User" asp-action="Index">My Profile</a>
</div>
<div>
    <a asp-controller="User" asp-action="Anonymous">Anonymous Page</a>
</div>
<div>
    <a asp-controller="Admin" asp-action="Index">Admin Dashboard</a>
</div>
<div>
    <a asp-controller="Manager" asp-action="Index">Manager Dashboard</a>
</div>
<div>
    <a asp-action="SendEmail">Send Email</a>
</div>
<div>
    <a asp-action="Register2">Register with Email Confirmation</a>
</div>
<div>
    <a asp-action="RegisterCaptcha">Register with reCaptcha</a>
</div>
<div>
    <a asp-action="LoginRememberMe">Login Remember Me</a>
</div>
<div>
    <a asp-action="Logoutrememberme">Logout Remember Me</a>
</div>
<div>
    <a asp-action="ForgotAccount">Forgot Username</a>
</div>
<div>
    <a asp-action="ForgotPassword">Reset Password</a>
</div>
<div>
    <a asp-action="LoginTwoFactor">Login with multi-factor authentication</a>
</div>