@model AspnetCoreProject.Models.LoginView

@{
    ViewData["Title"] = "LoginRememberMe";
}

<h1>LoginRememberMe</h1>

<h4>LoginView</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="LoginRememberMe">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="UserName" class="control-label"></label>
                <input asp-for="UserName" class="form-control" />
                <span asp-validation-for="UserName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password" class="control-label"></label>
                <input asp-for="Password" class="form-control" type="password" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label for="rememberMe">Remember Me</label>
                <input type="checkbox" name="rememberMe" id="rememberMe" value="true" />
            </div>
            <div class="form-group">
                <input type="submit" value="Login" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

