
@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>
<p>This page can be accessed by Admin role.</p>
<div>
    <a asp-action="List">Go to User Management</a>
</div>
<div>
    <a asp-controller="Account" asp-action="Logout">Logout</a>
</div>
